{{ attach_library('drupalastic/card') }}

<article{{ attributes.addClass('card__container') }}>
  <div{{ content_attributes }}>
    <div class="card__image">{{ content.field_preview_image }}</div>
    <h2{{ title_attributes.addClass('card__title') }}>{{ label }}</h2>
    <div class="card__description">{{ content.body }}</div>
    <div class="card__links">{{ content.links }}</div>
  </div>
</article>
