{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

  {#{% if title %}
    <h3 class="view-title">{{ title }}</h3>
  {% endif %}#}
  {#{% for row in rows %}
    {%
      set row_classes = [
        default_row_class ? 'views-row',
      ]
    %}#}
    {#{{ kpr(row) }}
    {{ kpr(row['content']['#row']._entity.field_author_name.value) }}
    {{ kpr(file_url(row['content']['#row']._entity.user_picture.entity.fileuri)) }}
    {{ kpr(row['content']['#row']._entity.field_auth.value|striptags|trim) }}#}
    {#<div{{ row.attributes.addClass(row_classes) }}>
      {{- row.content -}}
    </div>
  {% endfor %}#}

    {% set array = [] %}
    {% for row in rows %}
      {% set array = array|merge([{author_img: file_url(row['content']['#row']._entity.user_picture.entity.fileuri), author_designation: "Author", author_name: row['content']['#row']._entity.field_author_name.value, author_bio: row['content']['#row']._entity.field_auth.value|striptags|trim}]) %}
    {% endfor %}
    {% include '@molecules/authorinfo/authorinfo.twig' with {
      "authors": array
    } %}
