{{ attach_library('drupalastic/base') }}
{{ attach_library('drupalastic/blogcontent') }}
{{ attach_library('drupalastic/image') }}
{{ attach_library('drupalastic/headings') }}
{{ attach_library('drupalastic/paragraph') }}
{{ attach_library('drupalastic/font-awesome') }}

<div class="main__content">
  <article class="main__content__node">
    <div class="main__content__back__home">
      {% include '@atoms/link/link.twig' with {
        "extra_classes": [],
        "linkUrl": "#",
        "linkText": "Back to Home"
      } %}
    </div>
    <div class="main__content__banner">
      {% include '@atoms/image/image-banner.twig' with {
        "imgSrc": "https://via.placeholder.com/834x432.png",
        "extra_classes": ["img__banner"]
      } %}
    </div>
    <div class="main__content__categories">
      {% if content_categories %}
          {{ content_categories }}
      {% else %}
      {% include '@molecules/categorylist/categorylist.twig' with {
        "extra_classes": [],
        "extra_li_classes": [],
        "category__link__Classes": ["category__link"],
        "categories": maincontent__categories
      } %}
      {% endif %}
    </div>
    <i class="fab fa-accessible-icon"></i>
    <div class="main__content__heading">
      {% include '@atoms/text/heading/heading-1.twig' with {
        "extra_classes": [],
        "text": maincontent__heading
      } %}
    </div>
    <div class="main__content">
      {% include '@molecules/blogcontent/blogcontent.twig' with {
        "blog__contents": maincontent__contents
      } %}
    </div>
    <div class="main__content__tag__social__wrapper">
      <div class="main__content__tags">
        {% include '@molecules/taglist/taglist.twig' with {
          "extra_classes": [],
          "extra_li_classes": [],
          "tag__link__Classes": ["tag__link"],
          "tags": maincontent__tags
        } %}
      </div>
      <div class="main__content__socials">
        {% include '@atoms/text/paragraph/paragraph.twig' with {
          "extra_classes": ["paragraph-gray", "main__content__socials__label"],
          "text": "Share on:"
        } %}

        {% include '@molecules/social/social.twig' with {
          "extra_classes": [],
          "extra_li_classes": [],
          "socialitemClasses": ["social__item"],
          "icons": [
            {
                "linkUrl": "https://www.facebook.com",
                "linkText": "/images/facebook.png"
            },
            {
                "linkUrl": "https://twitter.com",
                "linkText": "/images/twitter.png"
            },
            {
                "linkUrl": "https://www.instagram.com",
                "linkText": "/images/instagram.png"
            }
          ]
        } %}
      </div>
    </div>
  </article>
</div>
<div class="block__author">
  <div>
    {% include '@molecules/authorinfo/authorinfo.twig' with {
      "authors": maincontent__authors
    } %}
  </div>
</div>
