  <!--DO NOT REMOVE-->
  {{ patternLabFoot|raw }}
  <!-- inject:js -->
  <script src="{{ asset("/dist/js/04-organisms/blogdetails.js") }}"></script>
  <script src="{{ asset("/dist/js/04-organisms/contact.js") }}"></script>
  <script src="{{ asset("/dist/js/04-organisms/footer.js") }}"></script>
  <script src="{{ asset("/dist/js/04-organisms/header.js") }}"></script>
  <script src="{{ asset("/dist/js/04-organisms/header/header.js") }}"></script>
  <script src="{{ asset("/dist/js/04-organisms/ourportfolio.js") }}"></script>
  <script src="{{ asset("/dist/js/04-organisms/ourteam.js") }}"></script>
  <script src="{{ asset("/dist/js/04-organisms/ourtestimonials.js") }}"></script>
  <script src="{{ asset("/dist/js/04-organisms/submap.js") }}"></script>
  <script src="{{ asset("/dist/js/main.js") }}"></script>
  <!-- endinject -->
</body></html>
