  <!--DO NOT REMOVE-->
  {{ patternLabFoot|raw }}
   <script src="{{ asset("/dist/js/jquery.min.js") }}"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  <!-- inject:js -->
  <script src="{{ asset("/dist/js/04-organisms/header/header.js") }}"></script>
  <script src="{{ asset("/dist/js/04-organisms/testimonials/testimonials.js") }}"></script>
  <script src="{{ asset("/dist/js/jquery.min.js") }}"></script>
  <script src="{{ asset("/dist/js/main.js") }}"></script>
  <!-- endinject -->
</body></html>
