<!DOCTYPE html>
<html class="{{ htmlClass }}">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>

    <!-- inject:css -->

    <link rel="stylesheet" href="{{ asset("/dist/css/01-base/colors.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/01-base/font-faces.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/01-base/fonts.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/01-base/text.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/02-atoms/link/link.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/02-atoms/text/heading/headings.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/03-molecules/card/card.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/03-molecules/understanding-gulp/understanding-gulp.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/03-molecules/understanding-gulp/understanding-theme.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/04-organisms/card-list/card-list.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/base.all.css") }}">

    <!-- endinject -->

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
     {{ patternLabHead|raw }}
    <!-- End Pattern Lab -->

  </head>
  <body class="{{ bodyClass }}"></body>
</html>
