<!DOCTYPE html>
<html class="{{ htmlClass }}">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>

    <!-- inject:css -->

    <link rel="stylesheet" href="{{ asset("/dist/css/03-molecules/understanding-gulp/understanding-gulp.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/03-molecules/understanding-gulp/understanding-theme.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/04-organisms/scss/components/card.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/04-organisms/scss/global.css") }}">

    <!-- endinject -->

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
     {{ patternLabHead|raw }}
    <!-- End Pattern Lab -->

  </head>
  <body class="{{ bodyClass }}"></body>
</html>
