<!DOCTYPE html>
<html class="{{ htmlClass }}">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>

    <!-- inject:css -->

    <link rel="stylesheet" href="{{ asset("/dist/css/01-base/colors.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/01-base/font-faces.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/01-base/fonts.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/01-base/text.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/02-atoms/axecard-link/axecard-link.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/02-atoms/button/button.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/02-atoms/framed-image/framed-image.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/02-atoms/image/image.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/02-atoms/input/input.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/02-atoms/link/link.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/02-atoms/search/search.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/02-atoms/text/heading/headings.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/02-atoms/text/paragraph/paragraph.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/03-molecules/authorinfo/authorinfo.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/03-molecules/axecard/axecard.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/03-molecules/blogcontent/blogcontent.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/03-molecules/card/card.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/03-molecules/categorylist/categorylist.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/03-molecules/categorylistcount/categorylistcount.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/03-molecules/contactform/contactform.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/03-molecules/inlineform/inlineform.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/03-molecules/latestblog/latestblog.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/03-molecules/link-list/link-list.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/03-molecules/menu/menu.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/03-molecules/people/people.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/03-molecules/social/social.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/03-molecules/subscriptionform/subscriptionform.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/03-molecules/taglist/taglist.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/03-molecules/testimonial/testimonial.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/04-organisms/axecard-list/axecard-list.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/04-organisms/blogcontent/blogcontent.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/04-organisms/card-list/card-list.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/04-organisms/contactcontent/contactcontent.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/04-organisms/footer/footer.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/04-organisms/fullcontent/fullcontent.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/04-organisms/header/header.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/04-organisms/inlinesubscription/inlinesubscription.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/04-organisms/maincontent/maincontent.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/04-organisms/people-list/people-list.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/04-organisms/portfolio-slider/portfolio-slider.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/04-organisms/sidebar/sidebar.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/04-organisms/submap/submap.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/04-organisms/testimonials/testimonials.css") }}">

    <link rel="stylesheet" href="{{ asset("/dist/css/base.all.css") }}">

    <!-- endinject -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
     {{ patternLabHead|raw }}
    <!-- End Pattern Lab -->

  </head>
  <body class="{{ bodyClass }}"></body>
</html>
